# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

In [23]:
!jt -t monokai

##### Assigning int

In [5]:
my_int = 23

print(my_int)

print(type(my_int))

print(my_int == 23)

23
<class 'int'>
True

In [24]:
my_int + 5

print(my_int)

28

##### Assinging float

In [4]:
my_float = 3.14

print(my_float)

print(my_float)

3.14
3.14

#### Performing Calculations on ints and floats

##### Addition

In [27]:
10 + 10

my_int = my_int + 5


print(my_int)

36.14

In [28]:
my_int = my_int + 5

print(my_int)

my_int += 2

41.14

SUBTRACTION - below

In [8]:
my_int - 3

20

In [29]:
my_int = my_int - 5
my_int -= 8

print(my_int)

30.14

##### Multiplication

In [9]:
my_float * 2

6.28

##### Division

In [17]:
type(10 / 2)

int(10/2)

int(5.5)

5

##### Floor Division

In [16]:
10//2

11 // 2

5

##### Modulo

In [20]:
11 % 2

10 % 2

19 % 5

4

##### Exponential

In [23]:
10 ** 2

10 ** 3

1000

### String Input-Output

##### String Assignment

In [31]:
a_string = "hello world"

print(a_string)

print(type(a_string))

hello world
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [38]:
print(a_string, end=' at end of string\n')
print("typically on a new line")
print("new line")

hello world at end of string
typically on a new line
new line

##### String Concatenation

In [40]:
a_string + " " + " padawns"

'hello world  padawns'

In [42]:
new_string = 'padawans'

a_string + " " + new_string

'hello world padawans'

##### Type Conversion

In [47]:
type(str(my_int))

type(my_int)

my_int = str(my_int)
my_int

'30.14'

##### input()

In [132]:
user_name = input("What is your name?: ")

print(user_name)

What is your name?: Robin
Robin

##### format()

In [135]:
"User name is {} and age is {}".format(user_name, 28)

f'Your name is {user_name} and age is {28}'

'Your name is Robin and age is 28'

##### Old Way (python 2)

In [55]:
"Foo %s %d" % (user_name, 28)

'Foo Robin 28'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [136]:
color = input("What is the color of your car?")
year = input("What is the year of your car?")
make = input("What is the make of your car?")
model = input("What is the model of your car?")

print(f'My car is a {color}, {year}, {make}, {model}.')

What is the color of your car?white
What is the year of your car?2016
What is the make of your car?Honda
What is the model of your car?Shitbox
My car is a white, 2016, Honda, Shitbox.

### If Statements

In [75]:
# if <boolean expression>:
#  <action to run if booleant true>

if True:
    print('true')
    print('2nd action')

    if False:
        print('false')


# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)


if 10 < 11:
    print('10 < 11')
    
if 10<=10:
    print('10 <= 10')
    
if 12 >= 10:
        print('12 >= 10')
        
if 10 > 11:
    print('10 > 11')
    
    
if 10 == 10:
    print('10 == 10')
    

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if True and False:
    print('t and f')
    
    
if True and 10 == 10:
    print('t and 10 == 10')
    
    
if False and False:
    print('f and f')
    
if 0 > 1 or 1 > 0:
    print('0>1 or 1>0')
    
if False or False: 
    print('f and f')
    
if 1==1 or 0==1:
    print('1 == 1 or 0 ==1')

true
2nd action
10 < 11
10 <= 10
12 >= 10
10 == 10
t and 10 == 10
0>1 or 1>0
1 == 1 or 0 ==1

### is' keyword

In [78]:
# if 10 is 10:
print('10 is 10')
    
my_dict = {'foo' : 'bar'}
my_dict_copy = my_dict


print(my_dict_copy)

my_dict is my_dict_copy

IndentationError: unexpected indent (3637093077.py, line 2)

##### 'in' keyword

In [82]:
'b' in 'brandt'

'b' in 'Brandt'

if 'b' in 'Brandt':
    print('case insensitive')

##### 'not in' keyword'

In [84]:
'p' not in 'Padawans'

if 'p' not in "Padawans":
    print('case sensitive')

case sensitive

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [86]:
p_input = input("Would you kindly press lowercase 'p'?")

if "p" in p_input:
    print ("thanks for the 'p'")
    
else:
    print ("You didnt press lowercase 'p'")
    
    
    
check_p = input("What is your name? ")

if 'p'.upper() in check_p:
    print("Your name has a 'p' in it!")
else:
    print("Bummer, your name has no 'p' in it!")

Would you kindly press lowercase 'p'?p
thanks for the 'p'
What is your name? Robin
Bummer, your name has no 'p' in it!

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [93]:
if False:
    print('false')
elif True:
    print("true")
    
if 10 == 10:
    print('10 = 10')
elif 10 > 8:
    print('10 > 8')

true
10 = 10

### Else Statements

In [94]:
day = 'Monday'

if day == 'Friday':
    print('Day off')
elif day == 'Saturday':
    print("Time to work on proj")
elif day == 'Sunday':
    print('Lets relax')
    
else:
    print('school day')

school day

### For Loops

In [96]:
school = 'coding temple'

# for <loop variable> in <iterable>:
#        <code block>


for letter in school:                #letter = loop variable - - - school = iterable
    print(letter)                    #loop variable
    print("2nd action")              #2nd action
    
print('exit loop')                   #exit the loops

c
2nd action
o
2nd action
d
2nd action
i
2nd action
n
2nd action
g
2nd action

2nd action
t
2nd action
e
2nd action
m
2nd action
p
2nd action
l
2nd action
e
2nd action
exit loop

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [103]:
for num in range(10):
    if num == 4:
        continue            #continue means 'num == 4' gets ignored and moves on to 5, 6, 7, 8, etc. 
    print(num)          #dont use print('num') here or it prints word NUM instead of number range

0
1
2
3
5
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [104]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [107]:
for num in range(10):
    if num ==4:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [108]:
for num in range(5):
    print('entering outer loop')
    for letter in 'dylan':
        print(f'{num =} {letter =}')       #this will run the entire process until the range limit. SHORTCUT
    print("Completed inner loop")

entering outer loop
num =0 letter ='d'
num =0 letter ='y'
num =0 letter ='l'
num =0 letter ='a'
num =0 letter ='n'
Completed inner loop
entering outer loop
num =1 letter ='d'
num =1 letter ='y'
num =1 letter ='l'
num =1 letter ='a'
num =1 letter ='n'
Completed inner loop
entering outer loop
num =2 letter ='d'
num =2 letter ='y'
num =2 letter ='l'
num =2 letter ='a'
num =2 letter ='n'
Completed inner loop
entering outer loop
num =3 letter ='d'
num =3 letter ='y'
num =3 letter ='l'
num =3 letter ='a'
num =3 letter ='n'
Completed inner loop
entering outer loop
num =4 letter ='d'
num =4 letter ='y'
num =4 letter ='l'
num =4 letter ='a'
num =4 letter ='n'
Completed inner loop

### While Loops

In [111]:
num = 0

while num < 10:
    print(num)
    num += 1                                #num = num + 1 Will prevent infinite loop. 
print('exit loop', num)

0
1
2
3
4
5
6
7
8
9
exit loop 10

##### Looping 'While True'

In [113]:
while True:
    print('playing game')
    playing = input('Are you still playing? ')
    if playing == 'no':
        break

playing game
Are you still playing? yes
playing game
Are you still playing? yes
playing game
Are you still playing? no

##### While & For Loops Used Together

In [114]:
num = 0

while num < 5:
    for num2 in range(5):
        print(f'{num = } {num2 = }')
    num += 1

num = 0 num2 = 0
num = 0 num2 = 1
num = 0 num2 = 2
num = 0 num2 = 3
num = 0 num2 = 4
num = 1 num2 = 0
num = 1 num2 = 1
num = 1 num2 = 2
num = 1 num2 = 3
num = 1 num2 = 4
num = 2 num2 = 0
num = 2 num2 = 1
num = 2 num2 = 2
num = 2 num2 = 3
num = 2 num2 = 4
num = 3 num2 = 0
num = 3 num2 = 1
num = 3 num2 = 2
num = 3 num2 = 3
num = 3 num2 = 4
num = 4 num2 = 0
num = 4 num2 = 1
num = 4 num2 = 2
num = 4 num2 = 3
num = 4 num2 = 4

### Built-In Functions

##### range()

In [116]:
# range(start(0), stop, step(1))
list(range(10))

list(range(2, 20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

##### len()

In [121]:
#len() = amount of elements in a interval

len('brandt')
list(range(len('brandt')))

instructor = 'brandt'
for i in range(len(instructor)):
    print(f'{i = } {instructor[i]}')

i = 0 b
i = 1 r
i = 2 a
i = 3 n
i = 4 d
i = 5 t

##### help()

In [123]:
# help(len) gives information 

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [127]:
type('abc')


isinstance('0', int)

False

##### abs()

In [129]:
#absolute value from 0

abs(-5)

5

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [45]:
limit = 1000

for num in range(1, limit):

    math = num ** 3
    if math <= limit:
        print(math)
    else:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [48]:
# HINT:: check if numbers are prime. 
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

for number in range(2, 101):
    if is_prime(number):
        print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [36]:
age = int(input("How old are you? "))

if age < 18:
    print('kids')
elif age < 65:
    print('adult')
else:
    print('senior')

How old are you? 98
senior